{{#each erros}}
   <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Editar tarefa</h3>
<div class="card">
   <div class="card-body">
      <form method="POST" action="/task/edit">
         <input type="hidden" name="id" value="{{task._id}}">
         <label for="taskName">*Nome: </label>
         <input type="text" id="taskName" name="taskName" placeholder="Nome da tarefa" class="form-control" value="{{task.taskName}}">

         <label for="description" class="mt-3">Observação: </label>
         <textarea id="description" name="description" placeholder="Observação da tarefa" class="form-control">{{task.description}}</textarea>

         <label for="status" class="mt-3">Status: </label>
         <select type="text" id="status" name="status" placeholder="Detalhes da tarefa" class="form-control" value="{{task.status}}">
            {{#if task.status}}
               <option value="true">Concluído</option>
               <option value="false">Pendente</option>
            {{else}}
               <option value="false">Pendente</option>
               <option value="true">Concluído</option>
            {{/if}}
         </select>
         <button type="submit" class="btn btn-success mt-3">Salvar</button>
      </form>
   </div>
</div>