<h2>Lista de tarefas: </h2>
<hr>

{{#each tasks}}
   <div class="card mt-4 mb-4 {{status}}">
      <div class="card-body">
         <div class="status">
            {{#if status}} 
               <small class="{{status}}">Concluída</small>
            {{else}}
               <small class="{{status}}">Pendente</small>
            {{/if}}
         </div>

         <h4>{{ taskName }}</h4>
         {{#if description}}
            <medium>Observação: {{ description }}</medium>
            <br>
         {{/if}}

         <div class="d-flex mt-3 justify-content-end">
            <a href="/task/edit/{{ _id }}">
               <button class="btnEditCheckDelete" title="Editar"><i class="far fa-edit btn-warning"></i></button>
            </a>
            {{#if status}}

            {{else}}
               <form action="/task/concluded" method="POST">
                  <input type="hidden" name="id" value="{{ _id }}">
                  <button type="submit" class="btnEditCheckDelete" title="Concluir"><i class="far fa-check-circle btn-success"></i></button> 
               </form>
            {{/if}}
            
            <form action="/task/delete" method="POST">
               <input type="hidden" name="id" value="{{ _id }}">
               <button type="submit" class="btnEditCheckDelete" title="Excluir"><i class="far fa-trash-alt btn-danger"></i></button>
            </form>
         </div>
      </div>
   </div>
{{else}}
   <h4 class="mt-4">Nenhuma tarefa!</h4>
{{/each}}